<section>
  <div class="page-header">
    <h2>{{ vm.formDocument.name }}</h2>
    <span>Submit your application</span>
  </div>
  <div>
    <form name="vm.form.documentForm" class="form-horizontadl" ng-submit="vm.save(vm.form.documentForm.$valid)" ng-init="vm.prepareFieldOptions()" novalidate>
      <fieldset>
        <div class="row" ng-repeat="field in vm.formDocument.fields">
          <div class="form-group col-sm-12" ng-attr-show-errors = "{{field.required ? true : false}}">

            <ng-form name="innerForm{{field.name}}">
              <label class="control-label" for="{{field.name}}">{{field.name}}</label>

              <!-- Text field -->
              <input ng-if="field.type == 'Text'" name="{{field.name}}" type="text" ng-model="vm.document.values[field.name]" id="{{field.name}}" class="form-control" placeholder="{{field.placeholder}}" ng-required="field.required ? true : false">

              <!-- Textarea field -->
              <textarea ng-if="field.type == 'TextArea'" name="{{field.name}}" ng-model="vm.document.values[field.name]" id="{{field.name}}" class="form-control" rows="5" placeholder="{{field.placeholder}}" ng-required="{{ field.required ? true : false }}"></textarea>

              <!-- Dropdown field -->
              <select ng-if="field.type == 'Dropdown'" name="{{field.name}}" ng-model="vm.document.values[field.name]" id="{{field.name}}" class="form-control">
                <option value="">{{ field.placeholder }}</option>
                <option ng-repeat="option in field.fieldOptionsArray" value="{{option}}">{{option}}</option>
              </select>

              <!-- Multiselect field -->
              <select ng-if="field.type == 'Mutliselect'" name="{{field.name}}" ng-model="vm.document.values[field.name]" id="{{field.name}}" class="form-control" multiple>
                <option ng-repeat="option in field.fieldOptionsArray" value="{{option}}">{{option}}</option>
              </select>

              <!-- Checkbox field -->
              <div ng-if="field.type == 'Checkbox'">
                <!-- <small class="text-muted">{{field.placeholder}}</small> -->
                <div class="checkbox">
                  <label ng-repeat="option in field.fieldOptionsArray">
                    <input type="checkbox" name="{{field.name}}[]" value="{{option}}"> {{option}} &nbsp;&nbsp;&nbsp;
                  </label>
                </div>
              </div>

              <!-- Radio field -->
              <div ng-if="field.type == 'Radiobox'">
                <div class="form-group">
                    <label ng-repeat="option in field.fieldOptionsArray">
                        <input type="radio" name="{{field.name}}" value="{{option}}" ng-model="vm.document.values[field.name]" required>
                        {{option}} &nbsp;&nbsp;
                    </label>
                </div>
              </div>

              <!-- File field -->
              <div ng-if="field.type == 'File'">
                <div class="row">
                <div class="form-group col-sm-4" ng-hide="vm.uploader.queue.length " >
                  <span class="btn btn-default btn-file" >
                      Select File <input type="file" nv-file-select uploader="vm.uploader">
                  </span>
                </div>
                <div class="form-group col-sm-4" ng-show="vm.uploader.queue.length || vm.success">
                  <span ng-bind="vm.fileName"></span>
                </div>
                <div class="text-right form-group col-sm-4" ng-show="vm.uploader.queue.length">
                  <button type="button" class="btn btn-primary" ng-click="vm.uploadFile();">Upload</button>
                  <button type="button" class="btn btn-default" ng-click="vm.cancelUpload();">Cancel</button>
                </div>
                <div class="form-group col-sm-4">
                  <span ng-show="vm.success" class="text-success">
                    <strong>File uploaded Successfully</strong>
                  </span>
                  <span ng-show="vm.error" class="text-danger">
                    <strong ng-bind="vm.error"></strong>
                  </span>
                </div>
                </div>
              </div>

              <div ng-messages="vm.form.documentForm.$error" role="alert">
                <p class="help-block error-text" ng-message="required">{{field.required}}</p>
              </div>
            </ng-form>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.document._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>




  </div>
</section>
