<section>
  <div class="page-header">
    <h2>{{ vm.formDocument.name }}</h2>
    <span>Submit your application</span>
  </div>
  <div>
    <form name="vm.form.documentForm" class="form-horizontadl" ng-submit="vm.save(vm.form.documentForm.$valid)" novalidate>
      <fieldset>
        <div class="row" ng-repeat="field in vm.formDocument.fields">
          <div class="form-group col-sm-12" ng-attr-show-errors = "{{field.required ? true : false}}">
            <label class="control-label" for="{{field.name}}">{{field.name}}</label>

            <!-- Text field -->
            <input ng-show="field.type == 'Text'" name="{{field.name}}" type="text" ng-model="vm.document.values[field.name]" id="{{field.name}}" class="form-control" placeholder="{{field.placeholder}}" ng-required="{{field.required ? true : false}}">

            <!-- Textarea field -->
            <textarea ng-show="field.type == 'TextArea'" name="{{field.name}}" ng-model="vm.document.values[field.name]" id="{{field.name}}" class="form-control" rows="5" placeholder="{{field.placeholder}}" ng-required="{{field.required ? true : false}}"></textarea>

            <div ng-messages="vm.form.documentForm[field.name].$error" role="alert">
              <p class="help-block error-text" ng-message="required">{{field.required}}</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.document._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
