<section>
  <div class="page-header">
    <h1>{{vm.formDoc._id ? 'Edit Application Form' : 'New Application Form'}}</h1>
  </div>
    <form name="vm.form.formForm" class="form-horizontadl" ng-submit="vm.save(vm.form.formForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group pull-right">
          <button type="submit" class="btn btn-primary">{{vm.formDoc._id ? 'Update' : 'Create'}}</button>
          <button type="button" class="btn btn-default" ui-sref="{{vm.formDoc._id ? 'forms.view({ formId: vm.formDoc._id })' : 'forms.list'}}">Cancel</button>
        </div>
        <div class="row">
          <div class="form-group col-sm-12" show-errors>
            <label class="control-label" for="name">Name</label>
            <input name="name" type="text" ng-model="vm.formDoc.name" id="name" class="form-control" placeholder="Name" required>
            <div ng-messages="vm.form.formForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Name is required.</p>
            </div>
          </div>
          <div class="form-group col-sm-12" >
            <label class="control-label" for="description">Description</label>
            <textarea name="description" data-ng-model="vm.formDoc.description" id="description" class="form-control" rows="5" placeholder="Short description of the form"></textarea>
          </div>
        </div>

        <h3>Form Fields</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Placeholder</th>
              <th>Required</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="field in vm.formDoc.fields">
              <td>{{field.name}}</td>
              <td>{{field.type}}</td>
              <td>{{field.placeholder}}</td>
              <td>{{field.required}}</td>
              <td class="text-right">
                <a class="btn btn-default" ng-click="vm.editField(field)">
                  <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-default" ng-click="vm.removeField(field)">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-warning text-center" ng-if="!vm.formDoc.fields.length">
          No form fields added.
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>

    <hr>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Field details</h4>
      </div>
      <div class="panel-body">
        <ng-form name="vm.fieldForm" >
          <div class="row">
            <div class="form-group col-sm-4" show-errors>
              <label class="control-label" for="fieldName">Name</label>
              <input name="fieldName" type="text" ng-model="vm.formField.name" id="fieldName" class="form-control" placeholder="Field Name" required>
            </div>
            <div class="form-group col-sm-4" show-errors>
              <label class="control-label" for="fieldPlaceholder">Placeholder</label>
              <input name="fieldPlaceholder" type="text" ng-model="vm.formField.placeholder" id="fieldPlaceholder" class="form-control" placeholder="Placeholder" required>
              <!-- <div class="help-block error" ng-show="vm.fieldForm.fieldPlaceholder.$error.required && vm.fieldForm.fieldPlaceholder.$dirty">Required</div> -->
            </div>
            <div class="form-group col-sm-4">
              <label class="control-label" for="fieldRequired">Required</label>
              <input name="fieldRequired" type="text" ng-model="vm.formField.required" id="fieldRequired" class="form-control" placeholder="Notification for required field">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6" >
              <label class="control-label" for="fieldType">Type</label>
              <select name="fieldType" ng-model="vm.formField.type" ng-init="vm.formField.type = vm.formField.type || 'text'" id="fieldType" class="form-control">
                <option value="Text">Text</option>
                <option value="TextArea">TextArea</option>
                <option value="Dropdown">Dropdown</option>
                <option value="Mutliselect">Mutliselect</option>
                <option value="Checkbox">Checkbox</option>
                <option value="Radiobox">Radiobox</option>
                <option value="File">File</option>
              </select>
            </div>
            <div class="form-group col-sm-6" show-errors>
              <label class="control-label" for="fieldOptions">Field Options</label>
              <textarea name="fieldOption"
                  ng-model="vm.formField.fieldOptions"
                  ng-readonly="vm.formField.type == 'Text' || vm.formField.type == 'TextArea' || vm.formField.type == 'File'"
                  ng-required="(vm.formField.type == 'Text' || vm.formField.type == 'TextArea' || vm.formField.type == 'File') ? false : true"
                  id="fieldOption"
                  class="form-control"
                  rows="5"
                  placeholder="Enter one option each line">
              </textarea>
            </div>
          </div>
          <div class="form-group text-right">
            <button type="button" class="btn btn-default" ng-click="vm.cancelField()">Add New</button>
            <button type="button" class="btn btn-primary" ng-click="vm.saveField(vm.fieldForm.$valid)">Save</button>
          </div>
        </ng-form>
      </div>
    </div>
</section>
