<section>
  <div class="page-header">
    <h1>Forms</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="form in vm.forms" ui-sref="forms.view({ formId: form._id })" class="list-group-item">
      <small class="list-group-item-text pull-right">
        Created on
        <span ng-bind="form.created | date:'mediumDate'"></span>
        by
        <span ng-if="form.user" ng-bind="form.user.displayName"></span>
        <span ng-if="!form.user">Deleted User</span>
      </small>
      <p class="list-group-item-text">
        <span ng-bind="form.name"></span>
        <span ng-bind="form.status" class="label" ng-class="form.status=='published' ? 'label-primary' : 'label-warning'"></span>
      </p>
      <p class="list-group-item-text">
        <span ng-bind="form.fields.length"></span> fields
      </p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.forms.$resolved && !vm.forms.length">
    No forms yet, why don't you <a ui-sref="forms.create">create one</a>?
  </div>
</section>
