<section>
  <div class="page-header">
    <h1 ng-bind="vm.formDoc.name"></h1>
  </div>
  <div class="pull-right" ng-show="vm.formDoc.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="forms.edit({ formId: vm.formDoc._id })" ng-if="vm.formDoc.status===undefined || vm.formDoc.status==='draft'">Edit</a>
    <a class="btn btn-success" ng-click="vm.publish()" ng-if="vm.formDoc.status===undefined || vm.formDoc.status==='draft'">Publish</a>
    <a class="btn btn-danger" ng-click="vm.remove()">Delete</a>
  </div>
  <small>
    <em class="text-muted">
      Submitted on
      <span ng-bind="vm.formDoc.created | date:'mediumDate'"></span>
      by
        <span ng-if="vm.formDoc.user" ng-bind="vm.formDoc.user.displayName"></span>
      <span ng-if="!vm.formDoc.user">Deleted User</span>
    </em>
  </small>
  <h3>Form Details</h3>
  <div class="row">
    <div class="col-sm-12">
      <em class="text-muted">Description</em>
      <p class="lead" ng-bind="vm.formDoc.description"></p>
    </div>
  </div>
  <h3>Fields</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <!-- <th>Columns</th> -->
        <th>Placeholder</th>
        <th>Required</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="field in vm.formDoc.fields">
        <td>{{field.name}}</td>
        <td>{{field.type}}</td>
        <!-- <td>{{field.cols}}</td> -->
        <td>{{field.placeholder}}</td>
        <td>{{field.required}}</td>
      </tr>
    </tbody>
  </table>


</section>
